@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

label {
  display: block;
}

.nav {
  margin-top: 2rem;
}

.canvas {
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.15) 0px 8px 16px;
  margin-bottom: 1rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* BUTTONS */
button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.8rem 2rem;
  border: 2.5px solid #4a90e2;
  background: #fff;
  color: #4a90e2;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.btn:hover {
  background: #4a90e2;
  border: 2.5px solid #4a90e2;
  color: #fff;
}

.btn-artboard {
  border: none;
  border-bottom: 2px transparent solid;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.btn-artboard:hover {
  border-bottom: 2px solid #000;
}

.btn-add {
  border: 2.5px solid #000;
  padding: 0.1rem 0.4rem;
  color: #000;
  font-size: 0.8rem;
}

.btn-add:hover {
  background: #000;
  border: 2.5px solid #000;
  color: #fff;
}

.btn:focus,
.btn-session,
.btn-add,
.btn-artboard {
  outline: none;
}

.btn-session {
  background: #fff;
  color: #f5a623;
  border: 2.5px solid #f5a623;
}

.btn-session:hover {
  background: #f5a623;
  color: #fff;
  border: 2.5px solid #f5a623;
}

.btn-nav {
  padding: 0.5rem 1.3rem;
}

.btn-login {
  margin-right: 1rem;
}

.btn-submit {
  padding: 0.3rem 1rem;
  background-color: #4a90e2;
  color: #fff;
}

.btn-submit:hover {
  opacity: 0.9;
}

/* ARTBOARD LIST */
.artboard-list h2 {
  margin-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 3px solid #000;
}

.artboard-input {
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 1rem;
  width: 70%;
}

/* NAVBAR */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.nav-logo {
  font-size: 1.5rem;
}
/* MAIN CONTAINER */
.main-container {
  display: flex;
  margin: 3rem 0;
  padding: 1rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

.canvas-container {
  margin: 0 2rem;
}

/* AUTH FORMS */
.auth-container {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-top: 2rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 200px;
}

.form-item input {
  padding: 6px 10px;
  margin: 8px 0;
  width: 100%;
}

.form-item input:focus {
  outline: none;
}

/* BUTTONS CONTAINER */
.canvas-buttons {
  display: flex;
  flex-direction: column;
}

.canvas-buttons .btn,
.canvas-buttons input {
  margin-bottom: 1rem;
}

/* CHECKERED BACKGROUND */
.checkered-background {
  position: absolute;
  z-index: -5;
}

.real-canvas {
  position: absolute;
  z-index: 0;
}

/* TOOLBOX CONTAINER */
.toolbox-container {
  margin-top: 2rem;
}

.sketch-picker {
  margin-bottom: 1rem;
  height: 300px;
}

.tools {
  display: flex;
  justify-content: space-around;
}

.btn-tool {
  background: #fff;
  padding: 0.5rem 1.5rem;
  border: 2.5px solid #4a90e2;
  color: #4a90e2;
}
.btn-tool:hover,
.btn-tool-active {
  padding: 0.5rem 1.5rem;
  background: #4a90e2;
  border: 2.5px solid #4a90e2;
  color: #fff;
}

/* CHANGE PIXEL BUTTONS */
.pixel-buttons {
  display: flex;
  /* justify-content: space-around; */
}

.btn-pixel {
  font-size: 0.8rem;
  background: #fff;
  padding: 0.3rem 0.8rem;
  border: 2.5px solid #4a90e2;
  color: #4a90e2;
}
.btn-pixel:hover,
.btn-pixel-active {
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  background: #4a90e2;
  border: 2.5px solid #4a90e2;
  color: #fff;
}
