@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

label {
  display: block;
}

/* BUTTONS */

.btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.8rem 2rem;
  border: 2.5px solid transparent;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.btn:hover {
  background: #fff;
  border: 2.5px solid #000;
  color: #000;
}

.switch-btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.6rem 1.8rem;
  border: 2.5px solid transparent;
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px solid #000;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.6rem;
}

.switch-btn:hover {
  background: #000;
  color: #fff;
}

.switch-btn:focus,
.btn:focus {
  outline: none;
}

/* LANDING PAGE */

.container {
  max-width: 1280px;
  padding: 0 4rem;
  margin: auto;
  overflow: hidden;
}

.landing-container {
  background: white;
  margin: 5rem 0;
  height: 75vh;
  overflow: hidden;
  border: 4px solid black;
  border-radius: 7px;
}

.center-box {
  padding: 5rem;
  border-radius: 5px;
}

.landing-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.landing-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-container {
  display: flex;
  margin-top: 4rem;
  height: 80vh;
  justify-content: center;
}

.canvas-container {
  display: flex;
}

.sketch-picker {
  height: 300px;
}

.canvas {
  border-radius: 5px;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.15) 0px 8px 16px;
}

.frames-container {
  /* height: 100%; */
  /* background-color: blue; */
  overflow: hidden;
  overflow-y: scroll;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.options-container .btn,
.options-container input {
  margin-bottom: 1rem;
}

.animation-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.animate-sprite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 384px;
  width: 384px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-header,
.slider-bar,
.frame {
  margin-bottom: 1rem;
}

.frame img {
  width: 200px;
  height: 200px;
}

/* left container */
.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketch-picker {
  height: 300px;
}

.toolbar-container {
  display: flex;
  margin-bottom: 2rem;
}

.tool-btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.6rem 1.6rem;
  border: 2.5px solid transparent;
  background: #fff;
  color: #000;
  border-radius: 5px;
  border: 2px solid #000;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-right: 0.4rem;
}

.tool-btn:hover {
  background: #000;
  color: #fff;
}

.tool-btn:last-child {
  margin-right: 0;
}

/* CHECKERED BACKGROUND */
.checkered-background {
  position: absolute;
  z-index: -5;
}

.real-canvas {
  position: absolute;
  z-index: 0;
}
