body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.canvas {
  display: flex;
  /* flex-grow: 0; */
  /* width: 600px;
  height: 700px; */
  border: 10px;
  border-style: solid;
  border-color: black;
  background-color: brown;
}

.main-container {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  width: 75%;
  background-color: lightgrey;
  font-family: arial;
  margin-left: 30px;
  height: 100vh;
  /* padding: 5px 10px 10px 10px;
  border-radius: 10px;
  display: inline-block; */
}
